<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="bienReserver.css" type="text/css" />
    <style>
        .button {
            position: relative;
            background-color: black;
            border-radius: 4em;
            font-size: 25px;
            color: white;
            padding: 0.8em 1.8em;
            cursor: pointer;
            user-select: none;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s;
            margin-top: 50px;
            padding: 15px 0;
        }
        /* Safari */
        
        .button:hover {
            transition-duration: 0.1s;
            background-color: #3A3A3A;
        }
        
        .button:after {
            content: "";
            display: block;
            position: absolute;
            border-radius: 4em;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all 0.5s;
            box-shadow: 0 0 10px 40px white;
        }
        
        .button:active:after {
            box-shadow: 0 0 0 0 white;
            position: absolute;
            border-radius: 4em;
            left: 0;
            top: 0;
            opacity: 1;
            transition: 0s;
        }
        
        .button:active {
            top: 1px;
        }
    </style>

</head>
<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">

<body>

    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="card card-3">
                    <h3>Bien Reserver</h3>
                    <p></p>
                </div>
            </div>

        </div>
    </div>

    <p> Si vous voulez editez vos donnes de reservation</p>



    <div style="padding: 30px;text-align: center;"><a href="/list" class="button">Revenir au menu</a> </div>

</body>