<link href="comment.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">
<form method="post" action="/comment">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-1">
                    <h3>Bus</h3>
                    <p>You can leave a comment or let us know if you want to change anything with your name and number.</p>
                    <p></p>

                    <input type="text" placeholder="leave a message" id="comment" name="comment">

                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-2">


                    <h3>Taxi</h3>
                    <p>You can leave a comment or let us know if you want to change anything with your name and number </p>
                    <input type="text" placeholder="leave a message" id="comment2" name="comment2">

                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-3">

                    <h3>Motorcycle
                    </h3>
                    <p>You can leave a comment or let us know if you want to change anything with your name and number</p>
                    <input type="text" placeholder="leave a message" id="comment3" name="comment3">

                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-4">

                    <h3>Covoiturage</h3>
                    <p>You can leave a comment or let us know if you want to change anything with your name and number </p>
                    <input type="text" placeholder="leave a message" id="comment4" name="comment4">
                </div>
            </div>
        </div>
    </div>
    <input type="submit">

</form>