<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="error.css" type="text/css" />


</head>
<div class="scene">
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <span class="bg-403">ERROR</span>
    <div class="text">
        <span class="hero-text"></span>
        <span class="msg">ERROR : <span>mot de passe OU email </span> incorrect.</span>
        <span class="support">
        
        <a href="/signup">Sign Up</a>
        <span> Or</span>
        <a href="/signin">Sign in again</a>

        </span>
    </div>
    <div class="lock"></div>
</div>