<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="c.css" type="text/css" />



</head>

<body>

    <section class="section top-section">

        <div class="content-container content-theme-dark">
            <img src="/ohoh.png" width="300px" height="300px" />

            <div class="content-inner">
                <div class="content-center">
                    <h1>Fast Movers</h1>
                    <p>On time - any time </a>
                    </p>


                </div>

            </div>

        </div>

    </section>

    <section class="section bottom-section">
        <div class="content-container content-theme-light">
            <div class="content-inner">
                <div class="content-center">
                    <h1>Fast Movers</h1>
                    <p>If you need any help let us know</a>
                    </p>

                </div>

            </div>

        </div>

    </section>
    <center>
        <a href="/signup" class="button">Sign Up</a>
        <a href="/signin" class="button">Sign In</a>

    </center>
</body>