<head>
    <link rel="stylesheet" href="image.css" type="text/css" />

</head>

<body>


    <div class="hover_wrap">
        <figure class="hover5">
            <img src="petit-taxi-Fes.jpg" alt="이미지1">
            <figcaption><strong>UEMF</strong></figcaption>
        </figure>
        <figure class="hover6">
            <img src="fes-tarifs-petit-taxis.jpg" alt="이미지1">
            <figcaption><strong>Taxi</strong></figcaption>
        </figure>
    </div>
</body>