<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="bus.css" />
    <img src="ohoh.png" width="300px" height="300px" />
    <img src="taxi.gif" width="300px" height="300px" style="top: -80px;left: 0px;" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Stylesheet-->
</head>

<body>

    <section>
        <h1>Taxi</h1>
        <div class="tbl-header">
            <table>
                <thead>
                    <tr>
                        <th>Target</th>
                        <th>N° taxi</th>
                        <th>Personne</th>
                        <th>les heures disponibles</th>
                        <th>Telepone</th>
                        <th>Prix</th>
                        <th>Choix</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table>
                <tbody>

                    <tr>
                        <td>Euromed--Gare</td>
                        <td>M234</td>
                        <td>Achraf aloui</td>
                        <td>18:30--20:00</td>
                        <td>0613140321</td>
                        <td>20 DH</td>

                        <td>

                            <a href="/reserverTaxi"><button  class="btn">Je choisie </button></a>

                        </td>


                    </tr>
                    <tr>
                        <td>Euromed--ouedFes</td>
                        <td>M456</td>
                        <td>Mohammed lazhar</td>
                        <td>12:35--12:45</td>
                        <td>0666666666</td>
                        <td>10 DH</td>

                        <td>

                            <a href="/reserverTaxi"><button  class="btn">Je choisie </button></a>

                        </td>


                    </tr>
                    <tr>
                        <td>Euromed--Gare</td>
                        <td>M234</td>
                        <td>Achraf aloui</td>
                        <td>18:30--20:00</td>
                        <td>0613140321</td>
                        <td>20 DH</td>

                        <td>

                            <a href="/reserverTaxi"><button  class="btn">Je choisie </button></a>

                        </td>
                    </tr>




                </tbody>
            </table>
        </div>
    </section>



    </div>
</body>